
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Danh sách phòng đã đặt</h2>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-success" (click)="openDialog()">
                  Thêm mới
                </button>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th style="width: 20%">Tên khách hàng</th>
                <th style="width: 15%">Email</th>
                <th style="width: 15%">Số điện thoại</th>
                <th style="width: 10%">CCCD</th>
                <th style="width: 10%">Số phòng</th>
                <th style="width: 10%">Loại thuê</th>
                <th style="width: 10%">Ngày vào</th>
                <th style="width: 10%">Giá phòng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let checkin of checkinList">
                <td>
                  <h6 (click)="checkout(checkin)"
                    style="font-size: 16px;font-weight: 400; text-decoration: underline;cursor: pointer;">{{ checkin.name }}
                  </h6>
                </td>
                <td>{{ checkin.email }}</td>
                <td>{{ checkin.phone }}</td>
                <td>{{ checkin.cccd }}</td>
                <td>{{ checkin.roomName }}</td>
                <td>{{ checkin.times }}</td>
                <td>{{ checkin.checkInDate }}</td>
                <td>{{ checkin.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) }}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<app-dialog [isOpen]="isDialogOpen" title="Đặt phòng" (closeModal)="closeDialog()">
  <form [formGroup]="formData" (ngSubmit)="add()">
    <div class="mb-3">
      <label for="name" class="form-label">Họ và tên:</label>
      <input type="text" class="form-control" id="name" placeholder="Họ tên của khách sạn" formControlName="name" />
      <div class="text-danger" *ngIf="formData.get('name')!.invalid && formData.get('name')!.touched">
        <ng-container *ngIf="formData.get('name')!.errors?.required">
          Tên bắt buộc nhập!
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Nhập địa chỉ email" formControlName="email" />
      <div class="text-danger" *ngIf="formData.get('email')!.invalid && formData.get('email')!.touched">
        <ng-container *ngIf="formData.get('email')!.errors?.required">
          Email bắt buộc nhập!
        </ng-container>
        <ng-container *ngIf="formData.get('email')!.errors?.email && !formData.get('email')!.errors?.required">
          Email không đúng định dạng!
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Số điện thoại:</label>
      <input type="tel" class="form-control" id="phone" placeholder="Nhập số điện thoại của bạn"
        formControlName="phone" />
        <div class="text-danger" *ngIf="formData.get('phone')!.invalid && formData.get('phone')!.touched">
          <ng-container *ngIf="formData.get('phone')!.errors?.required">
            Phone bắt buộc nhập!
          </ng-container>
          <ng-container *ngIf="formData.get('phone')!.errors?.invalidPhoneNumber">
            Phone không đúng định dạng!
          </ng-container>
        </div>
    </div>
    <div class="mb-3">
      <label for="CCCD" class="form-label">Căn cước công dân:</label>
      <input type="text" class="form-control" id="CCCD" placeholder="Nhập số căn cước công dân của bạn"
        formControlName="cccd" />
        <div class="text-danger" *ngIf="formData.get('cccd')!.invalid && formData.get('cccd')!.touched">
          <ng-container *ngIf="formData.get('cccd')!.errors?.required">
            Căn cước công dân bắt buộc nhập!
          </ng-container>
        </div>
    </div>
    <div class="mb-3">
      <label for="roomType" class="form-label">Loại phòng:</label>
      <select id="roomType" class="form-select" formControlName="roomType" (change)="updatePrice()">
        <option *ngFor="let room of roomTypes" [value]="room.value">
          {{ room.type }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="room" class="form-label">Danh sách phòng</label>
      <select id="room" class="form-select" formControlName="room">
        <option *ngFor="let room of rooms" [value]="room.id">
          {{ room.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="times" class="form-label">Thời gian thuê</label>
      <select id="times" class="form-select" formControlName="times" (change)="updateTime()">
        <option value="hour">Giờ</option>
        <option value="overnight">Qua đêm</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Giá phòng (VNĐ):</label>
      <input type="number" class="form-control" id="price" placeholder="Giá phòng" formControlName="price"
        disabled="" />
    </div>

    <button type="submit" class="btn btn-primary">Đặt phòng</button>
  </form>
</app-dialog>