<div class="container mt-4 bg-white p-4">
  <div class="row mb-2">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" (click)="openDialog()">
            Thêm Khách Sạn
          </button>
        </div>
        <button type="button" class="btn btn-light">
          Sắp xếp theo khu vực
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let hotel of hotels" class="col-md-4">
      <div class="card">
        <img class="card-img-top room" [src]="hotel.image" alt="{{ hotel.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ hotel.name }}</h5>
          <p class="card-text">Gia trung binh: {{ hotel.price }}</p>
          <p class="card-text">Ghi chu: {{ hotel.description }}</p>
          <button type="button" class="btn btn-danger btn-custom mr-2" (click)="deleteHotel(hotel.id)">
            Xóa
          </button>
          <button type="button" class="btn btn-warning btn-custom" (click)="editHotel(hotel)">
            Sửa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<app-dialog [isOpen]="isDialogOpen" title="Thêm Khách Sạn" (closeModal)="closeDialog()">
  <form [formGroup]="formData" (ngSubmit)="addHotel()">
    <div class="mb-3">
      <label for="hotelName" class="form-label">Tên Khách Sạn</label>
      <input type="text" class="form-control" id="hotelName" placeholder="Nhập tên khách sạn" formControlName="name" />
      <div class="text-danger" *ngIf="formData.get('name')!.invalid && formData.get('name')!.touched">
        <ng-container *ngIf="formData.get('name')!.errors?.required">
          Tên khách sạn bắt buộc nhập!
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Giá</label>
      <input type="number" class="form-control" id="price" placeholder="Nhập giá" formControlName="price" />
      <div class="text-danger" *ngIf="formData.get('price')!.invalid && formData.get('price')!.touched">
        <ng-container *ngIf="formData.get('price')!.errors?.required">
          Giá bắt buộc nhập!
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Hình Ảnh</label>
      <input type="text" class="form-control" id="image" placeholder="Nhập đường dẫn ảnh" formControlName="image" />
      <div class="text-danger" *ngIf="formData.get('image')!.invalid && formData.get('image')!.touched">
        <ng-container *ngIf="formData.get('image')!.errors?.required">
          Hình ảnh bắt buộc nhập!
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô Tả</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Nhập mô tả" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary w-100">Lưu</button>
  </form>
</app-dialog>
