<body>
  <div class="d-flex" id="wrapper">
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
         
          <h2 class="fs-2 m-0">Bảng Tổng Kết</h2>
        </div>
        
      </nav>

      <div class="container-fluid px-4">
        <div class="row g-3 my-2">
          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded card">
              <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Sản phẩm</p>
              </div>
              <i class="fas fa-box-open fs-1 primary-text"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded card">
              <div>
                <h3 class="fs-2">4920</h3>
                <p class="fs-5">Doanh thu</p>
              </div>
              <i class="fas fa-dollar-sign fs-1 primary-text"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded card">
              <div>
                <h3 class="fs-2">3899</h3>
                <p class="fs-5">Giao hàng</p>
              </div>
            
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded card">
              <div>
                <h3 class="fs-2">25%</h3>
                <p class="fs-5">Tăng trưởng</p>
              </div>
              <i class="fas fa-chart-line fs-1 primary-text"></i>
            </div>
          </div>
        </div>

        <div class="row my-5">
          <h3 class="fs-4 mb-3">Danh Sách Đơn Hàng</h3>
          <div class="col">
            <table class="table bg-white rounded shadow-sm table-hover">
              <thead>
                <tr>
                  <th scope="col" width="50">STT</th>
                  <th scope="col">Khách Hàng</th>
                  <th scope="col">Số Phòng</th>
                  <th scope="col">Thời gian</th>
                  <th scope="col">Giá Tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Jonny</td>
                  <td>101</td>
                  <td>6 giờ</td>
                  <td>1200</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Kenny</td>
                  <td>109</td>
                  <td>2 giờ</td>
                  <td>750</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Jenny</td>
                  <td>208</td>
                  <td>2 giờ</td>
                  <td>600</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Killy</td>
                  <td>307</td>
                  <td>2 giờ</td>
                  <td>300</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Filly</td>
                  <td>609</td>
                  <td>2 giờ</td>
                  <td>120</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Bumbo</td>
                  <td>510</td>
                  <td>2 giờ</td>
                  <td>1800</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Bilbo</td>
                  <td>205</td>
                  <td>2 giờ</td>
                  <td>75</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Frodo</td>
                  <td>403</td>
                  <td>2 giờ</td>
                  <td>36</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>Kimo</td>
                  <td>108</td>
                  <td>2 giờ</td>
                  <td>255</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>Zico</td>
                  <td>203</td>
                  <td>2 giờ</td>
                  <td>434</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>Jeco</td>
                  <td>105</td>
                  <td>2 giờ</td>
                  <td>1236</td>
                </tr>
                <tr>
                  <th scope="row">12</th>
                  <td>Haso</td>
                  <td>110</td>
                  <td>2 giờ</td>
                  <td>422</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  
</body>