<div class="container">
  <div class="row mt-4">
    <div class="col">
      <label for="statisticsTypeSelect">Chọn loại thống kê:</label>
      <select id="statisticsTypeSelect" class="form-select w-auto d-inline" (change)="onStatisticsTypeChange($event)">
        <option value="roomType">Thống kê loại phòng</option>
        <option value="rentalType">Thống kê loại thuê</option>
      </select>
      <button class="btn btn-primary" (click)="updateChart()">Xem</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th *ngIf="selectedStatisticsType === 'roomType'">Loại phòng</th>
              <th *ngIf="selectedStatisticsType === 'rentalType'">Loại thuê</th>
              <th>Số lần thuê</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stat of selectedStatisticsType === 'roomType' ? roomTypeStatistics : rentalTypeStatistics">
              <td>{{ selectedStatisticsType === 'roomType' ? stat.roomName : stat.times == 'hour' ? "Giờ" : "Qua đêm" }}</td>
              <td>{{ stat.totalRooms }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="chart-container">
        <canvas #checkinChart></canvas>
      </div>
    </div>
  </div>
</div>
