
<html>
    <head>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
  <body>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-5">
                <h2><b>Menu</b></h2>
              </div>
              <div class="col-sm-7">
                <a href="#" class="btn btn-secondary"
                  ><i class="material-icons">&#xE147;</i>
                  <span>Add New Dish</span></a
                >
                <a href="#" class="btn btn-secondary"
                  ><i class="material-icons">&#xE24D;</i>
                  <span>Export to Bill</span></a
                >
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Dish Name</th>
                <th>Date Added</th>
                <th>Category</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <a href="#"
                    ><img
                      src="https://upload.wikimedia.org/wikipedia/commons/4/48/Lobster_Thermidor_entree.jpg"
                      class="avatar"
                      alt="Lobster Thermidor"
                    />
                    Lobster Thermidor</a
                  >
                </td>
                <td>04/10/2023</td>
                <td>Seafood</td>
                <td>
                  <span class="status text-success">&bull;</span> Available
                </td>
                <td>
                  <a
                    href="#"
                    class="settings"
                    title="Settings"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE8B8;</i></a
                  >
                  <a
                    href="#"
                    class="delete"
                    title="Delete"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE5C9;</i></a
                  >
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <a href="#"
                    ><img
                      src="https://assets.farmison.com/images/recipe-detail-1380/64644-wagyu-beef-yakiniku-hero.jpg"
                      class="avatar"
                      alt="Wagyu Steak"
                    />
                    Wagyu Steak</a
                  >
                </td>
                <td>05/08/2023</td>
                <td>Steak</td>
                <td>
                  <span class="status text-success">&bull;</span> Available
                </td>
                <td>
                  <a
                    href="#"
                    class="settings"
                    title="Settings"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE8B8;</i></a
                  >
                  <a
                    href="#"
                    class="delete"
                    title="Delete"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE5C9;</i></a
                  >
                </td>
              </tr>
              <!-- Add more rows for additional deluxe dishes -->
              <tr>
                <td>3</td>
                <td>
                  <a href="#"
                    ><img
                      src="https://www.sprinklesandsprouts.com/wp-content/uploads/2018/11/Black-Truffle-PastaSQ.jpg"
                      class="avatar"
                      alt="Truffle Pasta"
                    />
                    Truffle Pasta</a
                  >
                </td>
                <td>06/12/2023</td>
                <td>Pasta</td>
                <td>
                  <span class="status text-success">&bull;</span> Available
                </td>
                <td>
                  <a
                    href="#"
                    class="settings"
                    title="Settings"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE8B8;</i></a
                  >
                  <a
                    href="#"
                    class="delete"
                    title="Delete"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE5C9;</i></a
                  >
                </td>
              </tr>
              <!-- Add more rows for additional deluxe dishes -->
              <tr>
                <td>4</td>
                <td>
                  <a href="#"
                    ><img
                      src="https://www.dartagnan.com/dw/image/v2/BJQL_PRD/on/demandware.static/-/Sites-dartagnan-Library/default/dwa6b00f52/images/content/how-to-sear-foie-gras.jpg?sw=1200&strip=false"
                      class="avatar"
                      alt="Foie Gras"
                    />
                    Foie Gras</a
                  >
                </td>
                <td>07/15/2023</td>
                <td>Appetizer</td>
                <td>
                  <span class="status text-success">&bull;</span> Available
                </td>
                <td>
                  <a
                    href="#"
                    class="settings"
                    title="Settings"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE8B8;</i></a
                  >
                  <a
                    href="#"
                    class="delete"
                    title="Delete"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE5C9;</i></a
                  >
                </td>
              </tr>
              <!-- Add more rows for additional deluxe dishes -->
              <tr>
                <td>5</td>
                <td>
                  <a href="#"
                    ><img
                      src="https://blackcaviarusa.com/cdn/shop/articles/what-is-caviar.jpg?v=1675810747"
                      class="avatar"
                      alt="Caviar"
                    />
                    Caviar</a
                  >
                </td>
                <td>08/20/2023</td>
                <td>Appetizer</td>
                <td>
                  <span class="status text-success">&bull;</span> Available
                </td>
                <td>
                  <a
                    href="#"
                    class="settings"
                    title="Settings"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE8B8;</i></a
                  >
                  <a
                    href="#"
                    class="delete"
                    title="Delete"
                    data-toggle="tooltip"
                    ><i class="material-icons">&#xE5C9;</i></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
