<body>
  <div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4"
      >
        <div class="d-flex align-items-center">
          <i
            class="fas fa-align-left primary-text fs-4 me-3"
            id="menu-toggle"
          ></i>
          <h2 class="fs-2 m-0">Dashboard</h2>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

      <div class="container-fluid px-4">
        <div class="row g-3 my-2">
          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Products</p>
              </div>
             
              <i class="text-blue-500 border rounded-full bg-yellow-200 p-3 inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                  <path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"></path>
                </svg>
              </i>
             </div>
          </div>

          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">4920</h3>
                <p class="fs-5">Sales</p>
              </div>
              <i class="text-blue-500 border rounded-full bg-yellow-200 p-3 inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                  <path d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                </svg>
              </i>
            </div>
          </div>

          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">3899</h3>
                <p class="fs-5">Delivery</p>
              </div>
              <i class="text-blue-500 border rounded-full bg-yellow-200 p-3 inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                  <path d="M20.42 10.18L12.71 2.3a1 1 0 0 0-1.42 0l-7.71 7.89A2 2 0 0 0 3 11.62V20a2 2 0 0 0 1.89 2h14.22A2 2 0 0 0 21 20v-8.38a2.07 2.07 0 0 0-.58-1.44zM10 20v-6h4v6zm9 0h-3v-7a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v7H5v-8.42l7-7.15 7 7.19z"/>
                </svg>
              </i>
            </div>
          </div>

          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">%25</h3>
                <p class="fs-5">Increase</p>
              </div>
              <i class="text-blue-500 border rounded-full bg-yellow-200 p-3 inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                  <path d="M12 2L3.71 10.29a1 1 0 0 0 1.42 1.42l6.29-6.29V20a1 1 0 0 0 2 0V5.42l6.29 6.29a1 1 0 1 0 1.42-1.42L12 2z"/>
                </svg>
              </i>
            </div>
          </div>
        </div>

        <div class="row my-5">
          <h3 class="fs-4 mb-3">Danh Sách Đơn Hàng</h3>
          <div class="col">
            <table class="table bg-white rounded shadow-sm table-hover">
              <thead>
                <tr>
                  <th scope="col" width="50">STT</th>
                  <th scope="col">Khách Hàng</th>
                  <th scope="col">Số Phòng</th>
                  <th scope="col">Thời gian</th>
                  <th scope="col">Giá Tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Jonny</td>
                  <td>101</td>
                  <td>6 giờ</td>
                  <td>$1200</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Kenny</td>
                  <td>109</td>
                  <td>2 giờ</td>
                  <td>$750</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Jenny</td>
                  <td>208</td>
                  <td>2 giờ</td>
                  <td>$600</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Killy</td>
                  <td>307</td>
                  <td>2 giờ</td>
                  <td>$300</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Filly</td>
                  <td>609</td>
                  <td>2 giờ</td>
                  <td>$120</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Bumbo</td>
                  <td>510</td>
                  <td>2 giờ</td>
                  <td>$1800</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Bilbo</td>
                  <td>205</td>
                  <td>2 giờ</td>
                  <td>$75</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Frodo</td>
                  <td>403</td>
                  <td>2 giờ</td>
                  <td>$36</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>Kimo</td>
                  <td>108</td>
                  <td>2 giờ</td>
                  <td>$255</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>Zico</td>
                  <td>203</td>
                  <td>2 giờ</td>
                  <td>$434</td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>Jeco</td>
                  <td>105</td>
                  <td>2 giờ</td>
                  <td>$1236</td>
                </tr>
                <tr>
                  <th scope="row">12</th>
                  <td>Haso</td>
                  <td>110</td>
                  <td>2 giờ</td>
                  <td>$422</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
      el.classList.toggle("toggled");
    };
  </script>
</body>
