
  <h1>Hóa đơn thanh toán</h1>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Thông tin</th>
              <th>Giá tiền</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Tên khách hàng</td>
              <td>Lê Ngọc Linh</td>
          </tr>
          <tr>
              <td>Loại phòng</td>
              <td>Đặc biệt</td>
          </tr>
          <tr>
              <td>Giờ vào</td>
              <td>11:59:00 5/10/2024</td>
          </tr>
          <tr>
              <td>Giờ trả</td>
              <td>11:59:00 6/10/2024</td>
          </tr>
          <tr>
              <td>Số đêm</td>
              <td>1</td>
          </tr>
          <tr>
              <td>Giá phòng/đêm</td>
              <td>300.000đ</td>
          </tr>
          <tr>
              <td>Phụ phí (nếu có)</td>
              <td>50.000đ</td>
          </tr>
          <tr>
              <td>Tổng cộng</td>
              <td>600.000đ</td>
          </tr>
      </tbody>
  </table>
  <button class="btn btn-primary">Thanh toán</button>
